<app-module-template>
  <mat-tab-group class="m-12">
    <mat-tab label="Alpha">
      <ng-template matTabContent>
        <app-tab-template (submit)="onSubmit('alpha')">
          <app-alpha-form [formGroup]="alphaFormGroup"></app-alpha-form>
        </app-tab-template>
      </ng-template>
    </mat-tab>

    <mat-tab label="Beta">
      <ng-template matTabContent>
        <app-tab-template (submit)="onSubmit('beta')">
          <app-beta-form [formGroup]="betaFormGroup"></app-beta-form>
        </app-tab-template>
      </ng-template>
    </mat-tab>

    <mat-tab label="Gama">
      <ng-template matTabContent>
        <app-tab-template (submit)="onSubmit('gamma')">
          <app-gamma-form [formGroup]="gammaFormGroup"></app-gamma-form>
        </app-tab-template>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</app-module-template>
